In [19]:
## importing pandas
import pandas as pd

In [20]:
##importing dataframe
df = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv", low_memory=False)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349369 entries, 0 to 349368
Data columns (total 41 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      349369 non-null  int64
 1   Created Date                    349369 non-null  object
 2   Closed Date                     320790 non-null  object
 3   Agency                          349369 non-null  object
 4   Agency Name                     349369 non-null  object
 5   Complaint Type                  349369 non-null  object
 6   Descriptor                      349369 non-null  object
 7   Location Type                   349351 non-null  object
 8   Incident Zip                    348727 non-null  float64
 9   Incident Address                333711 non-null  object
 10  Street Name                     333710 non-null  object
 11  Cross Street 1                  298863 non-null  object
 12  Cross Street 2                  298845 non-null  object
 13  Intersection Street 1           114730 non-null  object
 14  Intersection Street 2           114753 non-null  object
 15  Address Type                    341593 non-null  object
 16  City                            345726 non-null  object
 17  Landmark                        88262 non-null   object
 18  Facility Type                   0 non-null       float64
 19  Status                          349369 non-null  object
 20  Due Date                        255961 non-null  object
 21  Resolution Description          326578 non-null  object
 22  Resolution Action Updated Date  337500 non-null  object
 23  Community Board                 349362 non-null  object
 24  BBL                             281655 non-null  float64
 25  Borough                         349362 non-null  object
 26  X Coordinate (State Plane)      346784 non-null  object
 27  Y Coordinate (State Plane)      346786 non-null  object
 28  Open Data Channel Type          349369 non-null  object
 29  Park Facility Name              349369 non-null  object
 30  Park Borough                    349362 non-null  object
 31  Vehicle Type                    0 non-null       float64
 32  Taxi Company Borough            0 non-null       float64
 33  Taxi Pick Up Location           0 non-null       float64
 34  Bridge Highway Name             0 non-null       float64
 35  Bridge Highway Direction        0 non-null       float64
 36  Road Ramp                       0 non-null       float64
 37  Bridge Highway Segment          0 non-null       float64
 38  Latitude                        346784 non-null  float64
 39  Longitude                       346784 non-null  float64
 40  Location                        346784 non-null  object
dtypes: float64(12), int64(1), object(28)
memory usage: 109.3+ MB

In [22]:
## created a list of dataset colummns
list(df.columns)

['Unique Key',
 'Created Date',
 'Closed Date',
 'Agency',
 'Agency Name',
 'Complaint Type',
 'Descriptor',
 'Location Type',
 'Incident Zip',
 'Incident Address',
 'Street Name',
 'Cross Street 1',
 'Cross Street 2',
 'Intersection Street 1',
 'Intersection Street 2',
 'Address Type',
 'City',
 'Landmark',
 'Facility Type',
 'Status',
 'Due Date',
 'Resolution Description',
 'Resolution Action Updated Date',
 'Community Board',
 'BBL',
 'Borough',
 'X Coordinate (State Plane)',
 'Y Coordinate (State Plane)',
 'Open Data Channel Type',
 'Park Facility Name',
 'Park Borough',
 'Vehicle Type',
 'Taxi Company Borough',
 'Taxi Pick Up Location',
 'Bridge Highway Name',
 'Bridge Highway Direction',
 'Road Ramp',
 'Bridge Highway Segment',
 'Latitude',
 'Longitude',
 'Location']

In [23]:
## Deleted Columnns with zero values in the dataset
df.drop(["Taxi Company Borough", "Taxi Pick Up Location", "Bridge Highway Name", "Bridge Highway Direction", "Road Ramp", "Bridge Highway Segment", "Facility Type","Vehicle Type"], axis = 1, inplace=True)

In [24]:
## Delete columns not related to finding location and complaint
df.drop(["X Coordinate (State Plane)","Y Coordinate (State Plane)","Open Data Channel Type", "Park Facility Name", "Park Borough", "BBL", "Agency","Due Date","Latitude", "Longitude","Location"],axis = 1, inplace=True)

In [25]:
## Delete columns not related to finding location and complaint
df.drop(["Street Name","Intersection Street 1", "Intersection Street 2","Address Type", "Landmark" ],axis = 1, inplace=True)

In [26]:
## Called the Dataframe
df.head()

,Unique Key,Created Date,Closed Date,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Cross Street 1,Cross Street 2,City,Status,Resolution Description,Resolution Action Updated Date,Community Board,Borough
0,50706157,05/28/2021 03:52:03 PM,05/28/2021 03:52:03 PM,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11215.0,415A 16 STREET,8 AVENUE,PROSPECT PARK WEST,BROOKLYN,Closed,An inspection of the property was conducted an...,05/28/2021 03:52:03 PM,07 BROOKLYN,BROOKLYN
1,50722224,05/30/2021 06:44:31 AM,05/30/2021 06:44:31 AM,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10472.0,1798 EAST 174 STREET,ST LAWRENCE AVENUE,BEACH AVENUE,BRONX,Closed,The Department of Health and Mental Hygiene in...,05/30/2021 06:44:31 AM,09 BRONX,BRONX
2,50728649,05/31/2021 03:26:10 PM,08/06/2021 01:54:52 PM,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,10468.0,2501 DAVIDSON AVENUE,WEST 190 STREET,WEST 192 STREET,BRONX,Closed,This service request was closed because the De...,05/31/2021 03:26:10 PM,07 BRONX,BRONX
3,50729607,05/31/2021 08:01:38 PM,05/31/2021 08:01:38 PM,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Commercial Building,11375.0,113-24 QUEENS BOULEVARD,76 AVENUE,76 ROAD,Forest Hills,Closed,The Department of Health and Mental Hygiene fo...,05/31/2021 08:01:38 PM,06 QUEENS,QUEENS
4,50732194,05/31/2021 04:09:38 PM,05/31/2021 04:09:38 PM,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11375.0,100-07 67 ROAD,67 ROAD,QUEENS BOULEVARD,Forest Hills,Closed,The Department of Health and Mental Hygiene in...,05/31/2021 04:09:38 PM,06 QUEENS,QUEENS

In [27]:
## Identified the structure of the first entry in the 'Created Date' colummn 
example_data = df.iloc[0]['Created Date']
example_data

'05/28/2021 03:52:03 PM'

In [28]:
## Defined a function to separate the time and date in the 'Created Date' colummn for all the entries
def get_year(d):
    just_date = d.split(" ")[0]
    year= just_date.split("/")[2]
    return year

In [29]:
## Ran the function for the for the first entry
get_year(example_data)

'2021'

In [30]:
## Created a new colummn with the year indicated 
df["year created"] = df["Created Date"].apply(get_year)

In [31]:
df.head()

,Unique Key,Created Date,Closed Date,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Cross Street 1,Cross Street 2,City,Status,Resolution Description,Resolution Action Updated Date,Community Board,Borough,year created
0,50706157,05/28/2021 03:52:03 PM,05/28/2021 03:52:03 PM,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11215.0,415A 16 STREET,8 AVENUE,PROSPECT PARK WEST,BROOKLYN,Closed,An inspection of the property was conducted an...,05/28/2021 03:52:03 PM,07 BROOKLYN,BROOKLYN,2021
1,50722224,05/30/2021 06:44:31 AM,05/30/2021 06:44:31 AM,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10472.0,1798 EAST 174 STREET,ST LAWRENCE AVENUE,BEACH AVENUE,BRONX,Closed,The Department of Health and Mental Hygiene in...,05/30/2021 06:44:31 AM,09 BRONX,BRONX,2021
2,50728649,05/31/2021 03:26:10 PM,08/06/2021 01:54:52 PM,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,10468.0,2501 DAVIDSON AVENUE,WEST 190 STREET,WEST 192 STREET,BRONX,Closed,This service request was closed because the De...,05/31/2021 03:26:10 PM,07 BRONX,BRONX,2021
3,50729607,05/31/2021 08:01:38 PM,05/31/2021 08:01:38 PM,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Commercial Building,11375.0,113-24 QUEENS BOULEVARD,76 AVENUE,76 ROAD,Forest Hills,Closed,The Department of Health and Mental Hygiene fo...,05/31/2021 08:01:38 PM,06 QUEENS,QUEENS,2021
4,50732194,05/31/2021 04:09:38 PM,05/31/2021 04:09:38 PM,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11375.0,100-07 67 ROAD,67 ROAD,QUEENS BOULEVARD,Forest Hills,Closed,The Department of Health and Mental Hygiene in...,05/31/2021 04:09:38 PM,06 QUEENS,QUEENS,2021

In [32]:
## Filtered the dataframe to only include the years 2019,2020,2021 and 2022
my_filter = df["year created"] >= "2019"

In [33]:
df = df[my_filter]

In [34]:
## Verified that the unique values of include the specific years from 2019-2022
df["year created"].unique()

array(['2021', '2019', '2020', '2022'], dtype=object)

In [35]:
## Create a groupby to separate information by year and borough, as well as count the nuumber of reports in each borough
grouped = df.groupby(by= ["year created","Borough"]).count()[["Unique Key"]]

In [36]:
grouped

                            Unique Key
year created Borough
2019         BRONX                5864
             BROOKLYN            11349
             MANHATTAN            7274
             QUEENS               5493
             STATEN ISLAND        1658
             Unspecified             6
2020         BRONX                5125
             BROOKLYN             9661
             MANHATTAN            6511
             QUEENS               5028
             STATEN ISLAND        1258
2021         BRONX                7074
             BROOKLYN            14545
             MANHATTAN           10056
             QUEENS               5782
             STATEN ISLAND        1351
             Unspecified             1
2022         BRONX                1894
             BROOKLYN             4092
             MANHATTAN            3198
             QUEENS               1614
             STATEN ISLAND         290
             Unspecified             2

In [37]:
## Converted the groupby data into csv file
grouped.to_csv("rats_year_borough.csv")

In [38]:
## Filtered the dataset to include the sum of rat reportings in 2019
fil_2019 = df["year created"] == "2019"
fil_2019.sum()

31645

In [39]:
## Filtered the dataset to include the sum of rat reportings in 2020
fil_2020 = df["year created"] == "2020"
fil_2020.sum()

27583

In [40]:
## Filtered the dataset to include the sum of rat reportings in 2021
fil_2021 = df["year created"] == "2021"
fil_2021.sum()

38811

In [41]:
## Filtered the dataset to include the sum of rat reportings in 2022
fil_2022 = df["year created"] == "2022"
fil_2022.sum()

11090

In [42]:
## Filtered the dataset to include the sum of rat reportings in Manhattan from 2019-2022
fil_manhattan = df["Borough"] == "MANHATTAN"
fil_manhattan.sum()

27039

In [43]:
## Filtered the dataset to include the sum of rat reportings in Brooklyn from 2019-2022
fil_brooklyn = df["Borough"] == "BROOKLYN"
fil_brooklyn.sum()

39647

In [44]:
## Filtered the dataset to include the sum of rat reportings in Bronx from 2019-2022
fil_bronx = df["Borough"] == "BRONX"
fil_bronx.sum()

19957

In [45]:
## Filtered the dataset to include the sum of rat reportings in Staten Island from 2019-2022
fil_staten = df["Borough"] == "STATEN ISLAND"
fil_staten.sum()

4557

In [46]:
## Filtered the dataset to include the sum of rat reportings in Queens from 2019-2022
fil_queens = df["Borough"] == "QUEENS"
fil_queens.sum()

17917

In [47]:
## Create a groupby to separate information by year and zipcode, as well as count the nuumber of reports in each zipcode
grouped_zip = df.groupby(by= ["year created","Incident Zip"]).count()[["Unique Key"]]

In [48]:
## Converted the groupby zip code data into csv file
grouped_zip.to_csv("rats_year_zipcode.csv")

In [49]:
## Found the top ten incident zip codes that reported rat sightings from 2019-2022
df["Incident Zip"].value_counts().head(10)

11238.0    2702
10025.0    2673
11216.0    2612
11221.0    2607
11226.0    2103
11233.0    1952
11237.0    1785
10453.0    1696
10027.0    1692
10026.0    1684
Name: Incident Zip, dtype: int64

In [ ]:
## Created dataframes for each specific year

In [66]:
## Created a dataset that included only the rat sightings in 2019
fil_2019 = df["year created"] =="2019"
rats_2019 = df[fil_2019]
df_rats_2019 = rats_2019

In [51]:
## Verified that 2019 was the only year listed
rats_2019["year created"].unique()

array(['2019'], dtype=object)

In [63]:
## Created a dataset that included only the rat sightings in 2020
fil_2020 = df["year created"] =="2020"
rats_2020 = df[fil_2020]
df_rats_2020 = rats_2020

In [53]:
## Verified that 2020 was the only year listed
rats_2020["year created"].unique()

array(['2020'], dtype=object)

In [64]:
## Created a dataset that included only the rat sightings in 2021
fil_2021 = df["year created"] =="2021"
rats_2021 = df[fil_2021]
df_rats_2021 = rats_2021

In [55]:
## Verified that 2021 was the only year listed
rats_2021["year created"].unique()

array(['2021'], dtype=object)

In [65]:
## Created a dataset that included only the rat sightings in 2022
fil_2022 = df["year created"] =="2022"
rats_2022 = df[fil_2022]
df_rats_2022 = rats_2022

In [57]:
## Verified that 2022 was the only year listed
rats_2022["year created"].unique()

array(['2022'], dtype=object)

In [67]:
## Found the top ten zip codes that reported rat sightings in 2019
df_rats_2019["Incident Zip"].value_counts().head(10)

11238.0    887
10453.0    784
11221.0    663
10025.0    657
11233.0    623
11216.0    606
11226.0    531
11215.0    495
11207.0    474
10024.0    453
Name: Incident Zip, dtype: int64

In [68]:
## Found the top ten zip codes that reported rat sightings in 2020
df_rats_2020["Incident Zip"].value_counts().head(10)

11216.0    728
11221.0    710
10025.0    693
11238.0    601
11226.0    499
11233.0    467
11207.0    426
10467.0    419
10024.0    380
10472.0    379
Name: Incident Zip, dtype: int64

In [69]:
## Found the top ten zip codes that reported rat sightings in 2021
df_rats_2021["Incident Zip"].value_counts().head(10)

11216.0    1042
10025.0    1012
11238.0     995
11221.0     965
11226.0     812
11233.0     714
10027.0     707
11237.0     698
10026.0     693
11385.0     612
Name: Incident Zip, dtype: int64

In [70]:
## Found the top ten zip codes that reported rat sightings in 2022
df_rats_2022["Incident Zip"].value_counts().head(10)

11237.0    311
10025.0    311
11221.0    269
10033.0    265
11226.0    261
10035.0    255
10024.0    247
11216.0    236
11238.0    219
10026.0    199
Name: Incident Zip, dtype: int64